@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:500');

#main-title {
    font-family: 'Cormorant Unicase', serif;
    font-size: 5.5rem;
    color: #efefef;
}

#main-title a:visited {
    color: #efefef;
}

#main-title a:hover {
    color: #efefef;
    text-decoration: none;
}

nav {
    background-color: #090909
}

nav a {
    color: #090909;
    /*padding: 10px;*/
}

nav a:visited {
    color: #090909;
}

nav a:hover {
    color: #090909;
    text-decoration: none;
}

.messages {
    padding-bottom: 10px;
}

.content {
    padding-top: 10px;
}

.bot-link {
    color: #fff
}

.settings-icon {
    position: relative;
    top: -2px;
    left: -2px
}

.bot-link:hover {
    text-decoration: none;
}

.bot-link:visited {
    color: #eee;
}

.control-label {
    font-weight: 700;
}

.help-block {
    opacity: 0.5;
}

.tab-content {
    padding-top: 10px;
}

.heart-beats {
    max-height: 80%;
    overflow-y: scroll;
}

#bot-errors {
    max-width: 100%;
    word-wrap: break-word;
}

.bot-logs {
    padding-top: 20px
}

.logs{
    font-size: 70%;
    max-height: 200px;
    overflow-y: scroll;
}

#logout {
    color: #fff;
}

#bot-placed-orders {
    max-width: 100%;
    word-wrap: break-word;
}

#placed-orders-chart {
    height: 100%;
    width: 100%;
}
