{% load widget_tweaks %}

<!--suppress ALL -->
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <p class="lead">
                    Exchange Account
                </p>
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="new-exchange-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</button>
                    <div class="dropdown-menu">
                        <form class="new-exchange-dropdown-form p-4" action="{% url 'exchange_account_create' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ exchange_form.identity.id_for_label }}">Identifier</label>
                                {{ exchange_form.identifier|add_class:"form-control" }}
                                <label for="{{ exchange_form.exchange.id_for_label }}">Exchange</label>
                                {{ exchange_form.exchange|add_class:"form-control" }}
                                <label for="{{ exchange_form.key.id_for_label }}">API Key</label>
                                {{ exchange_form.key|add_class:"form-control" }}
                                <label for="{{ exchange_form.secret.id_for_label }}">API Secret</label>
                                {{ exchange_form.secret|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col text-center">
                {% for exchange_account in exchange_accounts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ exchange_account.identifier }}</h5>
                        <p class="card-text">
                            <p>Exchange: {{ exchange_account.exchange | title }}</p>
                            <p>API Key: {{ exchange_account.key | truncatechars:12 }}</p>
                            <p>API Secret: {{ exchange_account.secret | truncatechars:12 }}</p>
                        </p>
                        <a href="{% url 'exchange_account_delete' pk=exchange_account.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <p class="lead">
                    AWS Accounts
                </p>
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="new-aws-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</button>
                    <div class="dropdown-menu">
                        <form class="new-aws-dropdown-form p-4" action="{% url 'aws_account_create' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ aws_form.identity.id_for_label }}">Identifier</label>
                                {{ aws_form.identifier|add_class:"form-control" }}
                                <label for="{{ aws_form.access_key.id_for_label }}">Access Key</label>
                                {{ aws_form.access_key|add_class:"form-control" }}
                                <label for="{{ aws_form.secret_key.id_for_label }}">Secret Key</label>
                                {{ aws_form.secret_key|add_class:"form-control" }}
                                <label for="{{ aws_form.region.id_for_label }}">Region</label>
                                {{ aws_form.region|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col text-center">
                {% for aws_account in aws_accounts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ aws_account.identifier }}</h5>
                        <p class="card-text">
                            <p>Access Key: {{ aws_account.access_key | truncatechars:12 }}</p>
                            <p>Secret Key: {{ aws_account.secret_key | truncatechars:12 }}</p>
                            <p>Region: {{ aws_account.region }}</p>
                        </p>
                        <a href="{% url 'aws_account_delete' pk=aws_account.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>