{% load model_field %}

<div class="row tab-content">
    <div class="col">
        <div class="form-group">
            <label for="base" class="control-label">Market</label>
            <input id="base" class="form-control" readonly value="{{ bot.market }}" />
            <small>{% model_field_help_text from bot.market %}</small>
        </div>
    </div>
    {% if bot.use_market_price %}
    <div class="col text-center">
        <p class="lead">Using market price</p>
    </div>
    {% else %}
    <div class="col">
        <div class="form-group">
            <label for="peg-side" class="control-label">Peg Side</label>
            <input id="peg-side" class="form-control" type="text" readonly value="{{ bot.get_peg_side_display }}" />
            <small>{% model_field_help_text from bot.peg_side %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="peg-currency" class="control-label">Peg Currency</label>
            <input id="peg-currency" class="form-control" type="text" readonly value="{{ bot.peg_currency }}" />
            <small>{% model_field_help_text from bot.peg_currency %}</small>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="fee" class="control-label">Fee</label>
            <input id="fee" class="form-control" type="text" readonly value="{{ object.fee }}" />
            <small>{% model_field_help_text from object.fee %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="bid-spread" class="control-label">Bid Spread</label>
            <input id="bid-spread" class="form-control" type="text" readonly value="{{ object.bid_spread }}" />
            <small>{% model_field_help_text from object.bid_spread %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="ask-spread" class="control-label">Ask Spread</label>
            <input id="ask-spread" class="form-control" type="text" readonly value="{{ object.ask_spread }}" />
            <small>{% model_field_help_text from object.ask_spread %}</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="order-amount" class="control-label">Order Amount</label>
            <input id="order-amount" class="form-control" type="text" readonly value="{{ object.order_amount }}" />
            <small>{% model_field_help_text from object.order_amount %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="total-bid" class="control-label">Total Bid</label>
            <input id="total-bid" class="form-control" type="text" readonly value="{{ object.total_bid }}" />
            <small>{% model_field_help_text from object.total_bid %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="total-ask" class="control-label">Total Ask</label>
            <input id="total-ask" class="form-control" type="text" readonly value="{{ object.total_ask }}" />
            <small>{% model_field_help_text from object.total_ask %}</small>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="tolerance" class="control-label">Tolerance</label>
            <input id="tolerance" class="form-control" type="text" readonly value="{{ object.tolerance }}" />
            <small>{% model_field_help_text from object.tolerance %}</small>
        </div>
    </div>
</div>
{% if user == bot.owner or user.is_staff %}
<div class="row">
    <div class="col">
        <a href="{% url 'bot_update' pk=object.pk %}" role="button" class="btn btn-dark">Edit</a>
        <a href="{% url 'bot_delete' pk=object.pk %}" role="button" class="btn btn-outline-danger">Delete</a>
    </div>
</div>
{% endif %}
