{% load overwatch_tags %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="form-row">
                    <label id="days-label" for="days" class="col-2 text-right">Number of Days:</label>
                    <input list="days" value="1" id="days-input" name="days" class="col-1" />
                    <datalist id="days">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="7">
                        <option value="14">
                        <option value="30">
                        <option value="365">
                    </datalist>
                    <button class="btn btn-dark" id="days-update-button">Update</button>
                </div>
            </div>
        </div>
        <div class="row" id="calculated-data">
            <div class="col">
                <div class="card card-body" id="total-profit">
                    <!-- Total Profit goes here -->
                </div>

                <div class="card">
                    <div class="card-header">
                        Contributing Bots
                    </div>
                    <div class="card-body">
                        <div class="list-group" id="contributing-bots">
                            <!-- Bots get populated here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Funds
                    </div>
                    <div class="card-body" id="balances">
                        <!-- Funds go here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

