<div class="row bot-prices">
<p class="lead">Active Prices</p>
<div class="container-fluid prices">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2>Bid Price</h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center bid-price-peg">
                    <!--Bid Price in Peg will be populated here-->
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small class="bid-price"><!--Bid price will be populated here--></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2>Price</h2>
                </div>
            </div>
            <div class="row text-center price-sparkline">
                <div class="col">
                    <div class="row">
                        <div class="col text-center price-peg">
                            <!--Price in Peg is populated here-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <small class="price"><!--Price is populated here--></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2>Ask Price</h2>
                </div>
            </div>
            <div class="row">
                <div class="col text-center ask-price-peg">
                    <!--Ask Price in Peg will be populated here-->
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small class="ask-price"><!--Ask price will be populated here--></small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr />
<div class="row bot-balances">
<p class="lead">Balances</p>
<div class="container-fluid balances">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h3>Bid</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center bid-balance-peg">
                    <!--Bid Balance in Peg populated here-->
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small class="bid-balance"><!--Bid balance populated here--></small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h4>Ask</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center ask-balance-peg">
                    <!--Ask Balance Peg Populated here-->
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <small class="ask-balance"><!--Ask Balance populated here--></small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr />
<div class="row bot-logs">
<p class="lead">Bot Logs</p>
<div class="container-fluid logs">
    <!-- Logs get streamed here -->
</div>
</div>