<div class="row" id="placed-orders-chart">
    <!-- Placed Orders Chart -->
    <embed />
</div>
<div class="row">
    <div class="col tab-content">
        <table id="bot-placed-orders" class="table table-striped table-hover table-bordered" style="width: 100%;">
            <caption>{{ object.name}} Placed Orders</caption>
            <thead>
                <tr>
                    <td scope="col">Placed</td>
                    <td scope="col">Order Type</td>
                    <td scope="col">Price</td>
                    <td scope="col">Price USD</td>
                    <td scope="col">Amount</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>