<div class="row" id="trades-chart">
    <!-- Trades Chart -->
    <embed />
</div>
<div class="row">
    <div class="col tab-content">
        <table id="bot-trades" class="table table-striped table-hover table-bordered" style="width: 100%;">
            <caption>{{ object.name}} Trades</caption>
            <thead>
                <tr>
                    <td scope="col">Time</td>
                    <td scope="col">Trade ID</td>
                    <td scope="col">Trade Type</td>
                    <td scope="col">Target Price (USD)</td>
                    <td scope="col">Trade Price (USD)</td>
                    <td scope="col">Amount</td>
                    <td scope="col">Profit (USD)</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>