<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'overwatch/css/main.css' %}" >
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    {% block headjs %}
    {% endblock %}

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-dark bg-dark navbar-expand-md justify-content-center">
                    <div class="col">
                        <a href="{% url 'index' %}" id="main-title" class="navbar-brand d-flex w-50 mr-auto">
                            Overwatch
                        </a>
                    </div>
                    <div class="col text-right align-text-bottom">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" id="logout">
                            logout
                        </a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-10 offset-sm-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.0.0/jq-3.2.1/dt-1.10.16/r-2.2.1/rr-1.2.3/sc-1.4.4/datatables.min.js"></script>
    {% block endbodyjs %}
    {% endblock %}
</body>
</html>