{% extends 'base.html' %}

{% load bootstrap %}

{% load model_field %}

{% load static %}

{% block title %}
    {{ bot.name }}@{{ bot.exchange_account.get_exchange_display }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {% include 'overwatch/fragments/messages.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <h1>The "{{ bot.name }}@{{ bot.exchange_account.get_exchange_display }}" Bot</h1>
                </div>
                <div class="col text-right">
                    {% if bot.active %}
                        <a href="{% url 'deactivate_bot' pk=bot.pk %}" class="btn btn-danger" role="button" id="deactivate-button" data-toggle="tooltip" data-placement="bottom" title="Deactivate this Bot">Deactivate</a>
                    {% else %}
                        <a href="{% url 'activate_bot' pk=bot.pk %}" class="btn btn-success" role="button" id="activate-button" data-toggle="tooltip" data-placement="bottom" title="Activate this Bot">Activate</a>
                    {% endif %}
                    <a href="javascript:update()" class="btn btn-info" role="button" id="update-button" data-toggle="tooltip" data-placement="bottom" title="Update this Bot">Update</a>
                    <a href="javascript:deploy()" class="btn btn-warning" role="button" id="deploy-button" data-toggle="tooltip" data-placement="bottom" title="Deploy this Bot">Deploy</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs" id="botTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="config-tab" data-toggle="tab" href="#config" role="tab" aria-controls="config" aria-selected="true">Config</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="errors-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false">Errors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="placed-orders-tab" data-toggle="tab" href="#placed-orders" role="tab" aria-controls="placed-orders" aria-selected="false">Placed Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trades-tab" data-toggle="tab" href="#trades" role="tab" aria-controls="trades" aria-selected="false">Trades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="balances-tab" data-toggle="tab" href="#balances" role="tab" aria-controls="balances" aria-selected="false">Balances</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="botTabsContent">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                            {% include 'overwatch/tabs/details-tab.html' %}
                        </div>
                        <div class="tab-pane fade" id="config" role="tabpanel" aria-labelledby="config-tab">
                            {% include 'overwatch/tabs/config-tab.html' %}
                        </div>
                        <div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="errors-tab">
                            {% include 'overwatch/tabs/errors-tab.html' %}
                        </div>
                        <div class="tab-pane fade" id="placed-orders" role="tabpanel" aria-labelledby="placed-orders-tab">
                            {% include 'overwatch/tabs/placed-orders-tab.html' %}
                        </div>
                        <div class="tab-pane fade" id="trades" role="tabpanel" aria-labelledby="trades-tab">
                            {% include 'overwatch/tabs/trades-tab.html' %}
                        </div>
                        <div class="tab-pane fade" id="balances" role="tabpanel" aria-labelledby="balances-tab">
                            {% include 'overwatch/tabs/balances-tab.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col text-center">
                    <h2>Heart Beats</h2>
                </div>
            </div>
            <div class="row heartbeats">
                <div class="col" id="heartbeats-col">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
    <script>
        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#bot-errors').DataTable(
                {
                    "pagingType": "full",
                    "serverSide": true,
                    "ajax": "{% url 'bot_error_datatables' pk=bot.pk %}",
                    "columns": [
                        { "name": "time", width: "20%" },
                        { "name": "title", width: "30%" },
                        { "name": "message", width: "50%" }
                    ],
                    "order": [[ 0, 'desc' ]]
                }
            );
        } );
    </script>
    <script>
        $(document).ready(function() {
            $('#bot-placed-orders').DataTable(
                {
                    "pagingType": "full",
                    "serverSide": true,
                    "ajax": "{% url 'bot_placed_orders_datatables' pk=bot.pk %}",
                    "columns": [
                        { "name": "time", width: "20%" },
                        { "name": "order_type", width: "20%" },
                        { "name": "price", width: "30%" },
                        { "name": "price_usd", width: "30%" },
                        { "name": "amount", width: "30%" }
                    ],
                    "order": [[ 0, 'desc' ]]
                }
            );
        } );
    </script>
    <script>
        $(document).ready(function() {
            $('#bot-trades').DataTable(
                {
                    "pagingType": "full",
                    "serverSide": true,
                    "ajax": "{% url 'bot_trades_datatables' pk=bot.pk %}",
                    "columns": [
                        { "name": "time", width: "20%" },
                        { "name": "trade_id", width: "20%" },
                        { "name": "order_type", width: "20%" },
                        { "name": "target_price_usd", width: "20%" },
                        { "name": "trade_price_usd", width: "20%" },
                        { "name": "amount", width: "20%" },
                        { "name": "profit", width: "20%" }
                    ],
                    "order": [[ 0, 'desc' ]]
                }
            );
        } );
    </script>
    <script>
        const botWebSocketBridge = new channels.WebSocketBridge();
        botWebSocketBridge.connect('/bot/{{ bot.pk }}/');

        function deploy() {
            botWebSocketBridge.send(
                {
                    "message_type": "deploy",
                    "bot": {{ bot.pk }}
                }
            );
        }

        function update() {
            botWebSocketBridge.send(
                {
                    "message_type": "update",
                    "bot": {{ bot.pk }}
                }
            );
        }

        botWebSocketBridge.listen(function(action, stream) {
            message_type = action['message_type'];

            if (message_type === "bot_clear") {
                <!--Prices-->
                $('.bid-price-peg').empty();
                $('.bid-price').empty();
                $('.price-peg').empty();
                $('.price').empty();
                $('.ask-price-peg').empty();
                $('.ask-price').empty();

                <!--Balances-->
                $('.bid-balance-peg').empty();
                $('.bid-balance').empty();
                $('.ask-balance-peg').empty();
                $('.ask-balance').empty();
            }
            if (message_type === "price_info") {
                $('.bid-price-peg').html(action['bid_price_peg']);
                $('.bid-price').html(action['bid_price']);
                $('.price-peg').html(action['price_peg']);
                $('.price').html(action['price']);
                $('.price-sparkline').css("background-image", "url(action['price_sparkline'])");
                $('.ask-price-peg').html(action['ask_price_peg']);
                $('.ask-price').html(action['ask_price']);
            }
            if (message_type === "balance_info") {
                $('.bid-balance-peg').html(action['bid_balance_peg']);
                $('.bid-balance').html(action['bid_balance']);
                $('.ask-balance-peg').html(action['ask_balance_peg']);
                $('.ask-balance').html(action['ask_balance']);
            }
            if (message_type === "heartbeat_clear") {
                $('#heartbeats-col').empty();
            }
            if (message_type === "heartbeat") {
                $('#heartbeats-col').prepend(action['heartbeat']).fadeIn();
            }

            if (message_type === "bot_error") {
                $('#bot-errors').DataTable().draw('page');
            }

            if (message_type === "placed_order") {
                $('#bot-placed-orders').DataTable().draw('page');
            }
            if (message_type === "placed_order_chart") {
                $('#placed-orders-chart embed').replaceWith(action['chart']);
            }

            if (message_type === "trade") {
                $('#bot-trades').DataTable().draw('page');
            }
            if (message_type === "trades_chart") {
                $('#trades-chart embed').replaceWith(action['chart']);
            }

            if (message_type === "balances_chart") {
                $('#balances-chart embed').replaceWith(action['chart']);
            }

            if (message_type === "cloudwatch_logs_clear") {
                $('.logs').empty();
            }
            if (message_type === "cloudwatch_logs_add_line") {
                time = action['time'];
                message = action['message'];
                var log_line = '<div class="row"><div class="col-2 text-right">' + time + '</div><div class="col text-left">' + message + '</div></div>'
                $('.logs').append(log_line);
                var logsDiv = $('.logs')[0];
                logsDiv.scrollTop = logsDiv.scrollHeight;
            }
            if (message_type === "toast_notification") {
                $('#' + action['target'] + '-button').tooltip('hide');
                $('#' + action['target'] + '-button').attr('data-original-title', action['text']);
                $('#' + action['target'] + '-button').tooltip('show');
            }
        });
    </script>
{% endblock %}
