{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row messages">
        <div class="col">
            {% include 'overwatch/fragments/messages.html' %}
        </div>
        <div class="col text-right new-button">
            <a href="{% url 'bot_create' %}" class="btn btn-dark">New Bot</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="Tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bot-list-tab" data-toggle="tab" href="#bot-list" role="tab" aria-controls="bot-list" aria-selected="true">Bot List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts" aria-selected="true">Accounts</a>
                </li>
            </ul>
            <div class="tab-content" id="TabsContent">
                <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    {% include 'overwatch/tabs/dashboard.html' %}
                </div>
                <div class="tab-pane fade" id="bot-list" role="tabpanel" aria-labelledby="bot-list-tab">
                    {% include 'overwatch/tabs/bot-list.html' %}
                </div>
                <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                    {% include 'overwatch/tabs/accounts.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script>
        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#configured-bots').DataTable(
                {
                    "pagingType": "simple",
                    "pageLength": 50,
                    "order": [[ 1, 'asc' ], [ 0, 'asc' ]]
                }
            );
        } );
    </script>
    <script>
        $(document).ready(function() {
            $('#days-update-button').on('click', function() {
                var days = $("#days-input").val();
                days_update(days);
            });
        })
    </script>
    <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
    <script>
        const botWebSocketBridge = new channels.WebSocketBridge();
        botWebSocketBridge.connect('/bot_list/');

        function days_update(days) {
            botWebSocketBridge.send(
                {
                    "message_type": "days_update",
                    "days": days
                }
            );
        }

        function update_contributing_bots(value, index, array) {
            $('#contributing-bots').append(value)
        }

        botWebSocketBridge.listen(function(action, stream) {
            message_type = action['message_type'];

            console.log(message_type);

            if (message_type === 'data_update'){
                $('#' + action['bot'] + ' .market_price').html(action['market_price']);
                $('#' + action['bot'] + ' .activity').html(action['activity']);
                $('#' + action['bot'] + ' .price').html('<div class="row"><div class="col">' + action['price'] + '</div></div><div class="row"><div class="col"><small>' + action['price_usd'] + '</small></div></div>');
                $('#' + action['bot'] + ' .balance').html('<div class="row"><div class="col"><small>Ask: ' + action['ask_balance'] + '</small></div></div><div class="row"><div class="col"><small>Bid: ' + action['bid_balance'] + '</small></div></div>');
                $('#' + action['bot'] + ' .profit').html(action['profit']);
            }
            if (message_type === "profits_chart") {
                $('#profits-chart embed').replaceWith(action['chart']);
            }
            if (message_type === "update_dashboard") {
                $('#total-profit').html(action['total_profit']);
                $('#contributing-bots').empty();
                action['contributing_bots'].forEach(update_contributing_bots);
            }
        });
    </script>
{% endblock %}
