{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
    {% if form.instance.pk is not None %}
        Edit Bot
    {% else %}
        Create Bot
    {% endif %}
{% endblock %}

{% block content %}
    <!--suppress XmlInvalidId -->
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="configTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="operations-config-tab" data-toggle="tab" href="#operations-config" role="tab" aria-controls="operations-config" aria-selected="true">
                        Operations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="deployment-config-tab" data-toggle="tab" href="#deployment-config" role="tab" aria-controls="deployment-config" aria-selected="false">
                        Deployment
                    </a>
                </li>
            </ul>
            <form action="" method="post" class="form-horizontal">
                <legend>
                    {% if form.instance.pk is not None %}
                        Edit the {{ object.name}}@{{ object.exchange }} Bot
                    {% else %}
                        Create a new Bot
                    {% endif %}
                </legend>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="tab-content" id="configTabsContent">
                    <div class="tab-pane fade show active" id="operations-config" role="tabpanel" aria-labelledby="operations-config-tab">
                        {% if form.instance.pk is not None %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="api-secret">API Secret</label>
                                    <input type="text" readonly value="{{ object.api_secret }}" class="form-control" />
                                    <small class="form-text">Bots should use this API key to communicate with Overwatch</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.name.id_for_label }}">Name</label>
                                    {% if form.name.errors %}
                                        {{ form.name|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.name|add_class:"form-control" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.name.errors }}
                                    </div>
                                    {% if form.name.help_text %}
                                        <small class="form-text">{{ form.name.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.exchange_account.id_for_label }}">Exchange Account</label>
                                    {% if form.exchange_account.errors %}
                                        {{ form.exchange_account|add_class:"form-control"|add_class:"is-invalid"|attr:"onchange:get_markets()" }}
                                    {% else %}
                                        {{ form.exchange_account|add_class:"form-control"|attr:"onchange:get_markets()" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.exchange_account.errors }}
                                    </div>
                                    {% if form.exchange_account.help_text %}
                                        <small class="form-text">{{ form.exchange_account.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.market.id_for_label }}">Market</label>
                                    {% if form.market.errors %}
                                        {{ form.market|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.market|add_class:"form-control" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.market.errors }}
                                    </div>
                                    {% if form.market.help_text %}
                                        <small class="form-text">{{ form.market.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.aws_account.id_for_label }}">AWS Account</label>
                                    {% if form.aws_account.errors %}
                                        {{ form.aws_account|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.aws_account|add_class:"form-control" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.aws_account.errors }}
                                    </div>
                                    {% if form.aws_account.help_text %}
                                        <small class="form-text">{{ form.aws_account.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-check text-center">
                                    <label for="{{ form.use_market_price.id_for_label }}">Use Market Price</label>
                                    <br />
                                    {% if form.use_market_price.errors %}
                                        {{ form.use_market_price|add_class:"form-check-input"|add_class:"is-invalid"|attr:"onchange:check_using_market_price()" }}
                                    {% else %}
                                        {{ form.use_market_price|add_class:"form-check-input"|attr:"onchange:check_using_market_price()" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.use_market_price.errors }}
                                    </div>
                                    {% if form.use_market_price.help_text %}
                                        <small class="form-text">{{ form.use_market_price.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.peg_currency.id_for_label }}">Peg Currency</label>
                                    {% if form.peg_currency.errors %}
                                        {{ form.peg_currency|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.peg_currency|add_class:"form-control" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.peg_currency.errors }}
                                    </div>
                                    {% if form.peg_currency.help_text %}
                                        <small class="form-text">{{ form.peg_currency.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.peg_side.id_for_label }}">Peg Side</label>
                                    {% if form.peg_side.errors %}
                                        {{ form.peg_side|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.peg_side|add_class:"form-control" }}
                                    {% endif %}
                                    <div class="invalid-feedback">
                                        {{ form.peg_side.errors }}
                                    </div>
                                    {% if form.peg_side.help_text %}
                                        <small class="form-text">{{ form.peg_side.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.fee.id_for_label }}">Fee</label>
                                    {% if form.fee.errors %}
                                        {{ form.fee|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.fee|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.fee.help_text %}
                                        <small class="form-text">{{ form.fee.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.bid_spread.id_for_label }}">Bid Spread</label>
                                    {% if form.bid_spread.errors %}
                                        {{ form.bid_spread|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.bid_spread|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.bid_spread.help_text %}
                                        <small class="form-text">{{ form.bid_spread.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.ask_spread.id_for_label }}">Ask Spread</label>
                                    {% if form.ask_spread.errors %}
                                        {{ form.ask_spread|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.ask_spread|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.ask_spread.help_text %}
                                        <small class="form-text">{{ form.ask_spread.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.order_amount.id_for_label }}">Order Amount</label>
                                    {% if form.order_amount.errors %}
                                        {{ form.order_amount|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.order_amount|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.order_amount.help_text %}
                                        <small class="form-text">{{ form.order_amount.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.total_bid.id_for_label }}">Total Bid</label>
                                    {% if form.total_bid.errors %}
                                        {{ form.total_bid|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.total_bid|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.total_bid.help_text %}
                                        <small class="form-text">{{ form.total_bid.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.total_ask.id_for_label }}">Total Ask</label>
                                    {% if form.total_ask.errors %}
                                        {{ form.total_ask|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.total_ask|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.total_ask.help_text %}
                                        <small class="form-text">{{ form.total_ask.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.tolerance.id_for_label }}">Tolerance</label>
                                    {% if form.tolerance.errors %}
                                        {{ form.tolerance|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.tolerance|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.tolerance.help_text %}
                                        <small class="form-text">{{ form.tolerance.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.base_price_url.id_for_label }}">Base Price URL</label>
                                    {% if form.base_price_url.errors %}
                                        {{ form.base_price_url|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.base_price_url|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.base_price_url.help_text %}
                                        <small class="form-text">{{ form.base_price_url.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.quote_price_url.id_for_label }}">Quote Price URL</label>
                                    {% if form.quote_price_url.errors %}
                                        {{ form.quote_price_url|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.quote_price_url|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.quote_price_url.help_text %}
                                        <small class="form-text">{{ form.quote_price_url.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.peg_price_url.id_for_label }}">Peg Price URL</label>
                                    {% if form.peg_price_url.errors %}
                                        {{ form.peg_price_url|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.peg_price_url|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.peg_price_url.help_text %}
                                        <small class="form-text">{{ form.peg_price_url.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deployment-config" role="tabpanel" aria-labelledby="deployment-config-tab">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.bot_type.id_for_label }}">Bot Type</label>
                                    {% if form.bot_type.errors %}
                                        {{ form.bot_type|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.bot_type|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.bot_type.help_text %}
                                        <small class="form-text">{{ form.bot_type.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.schedule.id_for_label }}">Schedule</label>
                                    {% if form.schedule.errors %}
                                        {{ form.schedule|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.schedule|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.schedule.help_text %}
                                        <small class="form-text">{{ form.schedule.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                 <div class="form-group">
                                    <label for="{{ form.vigil_funds_alert_channel_id.id_for_label }}">Vigil Funds Alert ID</label>
                                    {% if form.vigil_funds_alert_channel_id.errors %}
                                        {{ form.vigil_funds_alert_channel_id|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.vigil_funds_alert_channel_id|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.vigil_funds_alert_channel_id.help_text %}
                                        <small class="form-text">{{ form.vigil_funds_alert_channel_id.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="{{ form.vigil_wrapper_error_channel_id.id_for_label }}">Vigil Bot Alert ID</label>
                                    {% if form.vigil_wrapper_error_channel_id.errors %}
                                        {{ form.vigil_wrapper_error_channel_id|add_class:"form-control"|add_class:"is-invalid" }}
                                    {% else %}
                                        {{ form.vigil_wrapper_error_channel_id|add_class:"form-control" }}
                                    {% endif %}
                                    {% if form.vigil_wrapper_error_channel_id.help_text %}
                                        <small class="form-text">{{ form.vigil_wrapper_error_channel_id.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="hidden" name="owner" value="{{ user.pk }}" />
                            <button type="submit" class="btn btn-dark">Save</button>
                            {% if form.instance.pk is not None %}
                                <a href="{% url 'bot_detail' pk=object.pk %}" role="button" class="btn btn-secondary">Back</a>
                            {% else %}
                                   <a href="{% url 'index' %}" role="button" class="btn btn-secondary">Back</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script>
        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }

            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
            check_using_market_price();
        });
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });
        function check_using_market_price() {
            $("#{{ form.peg_currency.id_for_label }}").prop('disabled', $("#{{ form.use_market_price.id_for_label }}").is(":checked"));
            $("#{{ form.peg_side.id_for_label }}").prop('disabled', $("#{{ form.use_market_price.id_for_label }}").is(":checked"));
        }
    </script>
    <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
    <script>
        const botFormWebSocketBridge = new channels.WebSocketBridge();
        {% if object %}
            botFormWebSocketBridge.connect('/bot_form/{{ object.pk }}/');
        {% else %}
            botFormWebSocketBridge.connect('/bot_form/');
        {% endif %}

        function get_markets() {
            exchange_account_pk = $("#{{ form.exchange_account.id_for_label }}").val();
            botFormWebSocketBridge.send(
                {
                    "message_type": "get_markets",
                    "exchange_account_pk": exchange_account_pk
                }
            );
        }

        botFormWebSocketBridge.socket.addEventListener('open', function() {
            // pre-populate the markets
            get_markets();
        })

        botFormWebSocketBridge.listen(function(action, stream) {
            message_type = action['message_type'];

            if (message_type === "clear_markets") {
                $('#{{ form.market.id_for_label }}').find('option').remove();
            }

            if (message_type === "new_market") {
                $('#{{ form.market.id_for_label }}').append($('<option/>', {
                    value: action['text'],
                    text : action['text']
                }));
            };

            if (message_type === "selected_market") {
                $("#{{ form.market.id_for_label }}").val(action['text']);
            }
        });
    </script>
{% endblock %}