{% extends 'base.html' %}

{% block title %}Configured Bots{% endblock %}

{% block content %}
    <div class="row messages">
        <div class="col">
            {% include 'overwatch/fragments/messages.html' %}
        </div>
        <div class="col text-right new-button">
            <a href="{% url 'bot_create' %}" class="btn btn-dark">New Bot</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="configured-bots" class="table table-striped table-hover table-bordered table-dark">
                <caption>All Configured Bots</caption>
                <thead class="thead-dark bg-dark">
                    <tr>
                        <td>Name</td>
                        <td>Exchange</td>
                    </tr>
                </thead>
                <tbody>
                    {% for bot in object_list %}
                        {% include 'overwatch/fragments/bot.html' %}
                    {% endfor %}
                </tbody>
           </table>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script>
        $(document).ready(function() {
            $('#configured-bots').DataTable(
                {
                    "pagingType": "simple"
                }
            );
        } );
    </script>
{% endblock %}
