{% extends 'base.html' %}

{% load static %}

{% block title %}Configured Bots{% endblock %}

{% block content %}
    <div class="row messages">
        <div class="col">
            {% include 'overwatch/fragments/messages.html' %}
        </div>
        <div class="col text-right new-button">
            <a href="{% url 'bot_create' %}" class="btn btn-dark">New Bot</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="configured-bots" class="table table-striped table-hover table-bordered table-dark">
                <caption>All Configured Bots</caption>
                <thead class="thead-dark bg-dark">
                    <tr>
                        <td>Name</td>
                        <td>Exchange</td>
                        <td>Market Price</td>
                        <td>Last Activity</td>
                        <td>Last Price</td>
                        <td>Amount on Order</td>
                        <td>24 Hour Profit</td>
                    </tr>
                </thead>
                <tbody>
                    {% for bot in object_list %}
                        {% include 'overwatch/fragments/bot.html' %}
                    {% endfor %}
                </tbody>
           </table>
        </div>
    </div>
{% endblock %}

{% block endbodyjs %}
    <script>
        $(document).ready(function() {
            $('#configured-bots').DataTable(
                {
                    "pagingType": "simple",
                    "pageLength": 50,
                    "order": [[ 1, 'asc' ], [ 0, 'asc' ]]
                }
            );
        } );
    </script>
    <script type="text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>
    <script>
        const botWebSocketBridge = new channels.WebSocketBridge();
        botWebSocketBridge.connect('/bot_list/');
        botWebSocketBridge.listen(function(action, stream) {
            message_type = action['message_type'];

            if (message_type === 'data_update'){
                $('#' + action['bot'] + ' .market_price').html(action['market_price_usd']);
                $('#' + action['bot'] + ' .activity').html(action['activity']);
                $('#' + action['bot'] + ' .price').html('<div class="row"><div class="col">' + action['price'] + '</div></div><div class="row"><div class="col"><small>' + action['price_usd'] + '</small></div></div>');
                $('#' + action['bot'] + ' .balance').html('<div class="row"><div class="col"><small>Ask: ' + action['ask_balance'] + '</small></div></div><div class="row"><div class="col"><small>Bid: ' + action['bid_balance'] + '</small></div></div>');
                $('#' + action['bot'] + ' .profit').html(action['profit']);
            }
        });
    </script>
{% endblock %}
